[submodule "hector_localization"]
	path = hector_localization
	url = https://github.com/tu-darmstadt-ros-pkg/hector_localization.git
[submodule "hector_slam"]
	path = hector_slam
	url = https://github.com/tu-darmstadt-ros-pkg/hector_slam.git
[submodule "joint_state_publisher"]
	path = joint_state_publisher
	url = https://github.com/ros/joint_state_publisher.git
[submodule "robot_state_publisher"]
	path = robot_state_publisher
	url = https://github.com/ros/robot_state_publisher.git
[submodule "rplidar_ros"]
	path = rplidar_ros
	url = https://github.com/robopeak/rplidar_ros.git
[submodule "rosnodejs-project"]
	path = rosnodejs-project
	url = https://github.com/diprasetyamr/rosnodejs-project.git
